In [1]:
import pandas as pd
import json
import joblib
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, confusion_matrix, f1_score, recall_score, precision_score
from sklearn.neural_network import MLPRegressor
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import base64
from io import BytesIO
from sklearn.metrics import confusion_matrix
import os

df1 = pd.read_excel("datasets/result_hack1.xlsx")
df2 = pd.read_excel("datasets/result_hack2.xlsx")
df = pd.concat([df1, df2], ignore_index=True)

df_orig = df.copy()

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1332204 entries, 0 to 1332203
Data columns (total 17 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   FLIGHT KEY            1331880 non-null  object
 1   PASSENGERS            1332204 non-null  int64
 2   NOMBRE DE AEROLINEA   1332204 non-null  object
 3   FECHA                 1332204 non-null  datetime64[ns]
 4   ORIGEN                1330588 non-null  object
 5   DESTINO               1330588 non-null  object
 6   FLIGHT NO             1331880 non-null  float64
 7   DEPARTUTE LOCAL TIME  1320414 non-null  datetime64[ns]
 8   ARRIVAL LOCAL TIME    1332204 non-null  datetime64[ns]
 9   SALES                 1313790 non-null  float64
 10  TYPE TRANSACTION      1313790 non-null  object
 11  CATEGORY              1313732 non-null  object
 12  SUPERCATEGORY         1313714 non-null  object
 13  LOST SALES            1332204 non-null  int64
 14  ITEM CODE             1313714 non-null  float64
 15  CURRENCY              1332204 non-null  object
 16  WAREHOUSE             1316105 non-null  object
dtypes: datetime64[ns](3), float64(3), int64(2), object(9)
memory usage: 172.8+ MB

In [2]:
# PREPROCESSING

# Remove entries with null values (oversimplification of a real process)
df = df.dropna()

df['ITEM CODE'] = df['ITEM CODE'].astype('int64')
df['SALES'] = df['SALES'].astype('int64')

# In this case, i'm only using SALE type transactions
df = df[df['TYPE TRANSACTION'] == 'SALE'].reset_index(drop=True)

# Group entries
agg_dict = {col: 'first' for col in df.columns if col not in ['SALES', 'LOST SALES']}
agg_dict.update({'SALES': 'sum', 'LOST SALES': 'sum'})

grouped = (
    df.groupby(['FLIGHT KEY', 'CATEGORY'], as_index=False)
      .agg(agg_dict)
)

df = grouped

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401214 entries, 0 to 401213
Data columns (total 17 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   FLIGHT KEY            401214 non-null  object
 1   PASSENGERS            401214 non-null  int64
 2   NOMBRE DE AEROLINEA   401214 non-null  object
 3   FECHA                 401214 non-null  datetime64[ns]
 4   ORIGEN                401214 non-null  object
 5   DESTINO               401214 non-null  object
 6   FLIGHT NO             401214 non-null  float64
 7   DEPARTUTE LOCAL TIME  401214 non-null  datetime64[ns]
 8   ARRIVAL LOCAL TIME    401214 non-null  datetime64[ns]
 9   TYPE TRANSACTION      401214 non-null  object
 10  CATEGORY              401214 non-null  object
 11  SUPERCATEGORY         401214 non-null  object
 12  ITEM CODE             401214 non-null  int64
 13  CURRENCY              401214 non-null  object
 14  WAREHOUSE             401214 non-null  object
 15  SALES                 401214 non-null  int64
 16  LOST SALES            401214 non-null  int64
dtypes: datetime64[ns](3), float64(1), int64(4), object(9)
memory usage: 52.0+ MB
None

In [3]:
# Convert date-time columns
df['MONTH'] = df['FECHA'].dt.month
df['DAY_OF_WEEK'] = df['FECHA'].dt.weekday 

# Create cyclic variables
df['month_sin'] = np.sin(2 * np.pi * df['MONTH']/12)
df['month_cos'] = np.cos(2 * np.pi * df['MONTH']/12)
df['dow_sin'] = np.sin(2 * np.pi * df['DAY_OF_WEEK']/7)
df['dow_cos'] = np.cos(2 * np.pi * df['DAY_OF_WEEK']/7)

df['DURATION_MIN'] = (df['ARRIVAL LOCAL TIME'] - df['DEPARTUTE LOCAL TIME']).dt.total_seconds() / 60 

# Extracting hour
df['HOUR'] = df['DEPARTUTE LOCAL TIME'].dt.hour

def hour_slot(hour):
    if 0 <= hour <= 5:
        return 'EarlyMorning'
    elif 6 <= hour <= 11:
        return 'Morning'
    elif 12 <= hour <= 13:
        return 'Noon'
    elif 14 <= hour <= 17:
        return 'Afternoon'
    elif 18 <= hour <= 21:
        return 'Evening'
    else:
        return 'LateNight'

df['HOUR_SLOT'] = df['HOUR'].apply(hour_slot)
# One-hot encoding
df = pd.get_dummies(df, columns=['HOUR_SLOT'], prefix='hour', dtype=int)

# Drop original datetime columns
drop_cols = ['FECHA', 'DEPARTUTE LOCAL TIME', 'ARRIVAL LOCAL TIME', 'MONTH', 'DAY_OF_WEEK', 'HOUR', 'TYPE TRANSACTION']
df = df.drop(columns=drop_cols)

######################################
# In order to use properly the origin and destination info, we obtain the mean consuming of that city
# Obtain total sales per flight
flight_sales = df.groupby('FLIGHT KEY')['SALES'].sum().reset_index().rename(columns={'SALES': 'TOTAL_SALES'})

# Calculate global mean
df = df.merge(flight_sales, on='FLIGHT KEY', how='left')
global_mean = df['TOTAL_SALES'].mean()

# Target encoding function
def target_encode_smooth(df, col, target, m=5):
    """
    df: DataFrame
    col: column to modify
    target: target column
    m: smoothing factor
    """
    agg = df.groupby(col)[target].agg(['mean', 'count'])
    # smoothing
    agg['encoded'] = (agg['mean'] * agg['count'] + global_mean * m) / (agg['count'] + m)
    return agg['encoded']

origin_encoding = target_encode_smooth(df, 'ORIGEN', 'TOTAL_SALES', m=5)
dest_encoding   = target_encode_smooth(df, 'DESTINO', 'TOTAL_SALES', m=5)

## Save for later use
origin_dict = origin_encoding.to_dict()
dest_dict = dest_encoding.to_dict()

# Guardar en un JSON
encoding_dict = {
    "origin": origin_dict,
    "destination": dest_dict
}

with open("city_mean_sales.json", "w") as f:
    json.dump(encoding_dict, f, indent=4)


df['MEAN_ORIGIN_CONSUPTION'] = df['ORIGEN'].map(origin_encoding)
df['MEAN_DEST_CONSUPTION'] = df['DESTINO'].map(dest_encoding)

df = df.drop(columns=['ORIGEN', 'DESTINO', 'TOTAL_SALES', 'WAREHOUSE', 'LOST SALES'])
######################################

# Convert categorical variables into binary
categorical_cols = ['CATEGORY','SUPERCATEGORY', 'NOMBRE DE AEROLINEA', 'CURRENCY']
df = pd.get_dummies(df, columns=categorical_cols, prefix=[c.lower() for c in categorical_cols], dtype=int)

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401214 entries, 0 to 401213
Data columns (total 38 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   FLIGHT KEY                              401214 non-null  object
 1   PASSENGERS                              401214 non-null  int64
 2   FLIGHT NO                               401214 non-null  float64
 3   ITEM CODE                               401214 non-null  int64
 4   SALES                                   401214 non-null  int64
 5   month_sin                               401214 non-null  float64
 6   month_cos                               401214 non-null  float64
 7   dow_sin                                 401214 non-null  float64
 8   dow_cos                                 401214 non-null  float64
 9   DURATION_MIN                            401214 non-null  float64
 10  hour_Afternoon                          401214 non-null  int64
 11  hour_EarlyMorning                       401214 non-null  int64
 12  hour_Evening                            401214 non-null  int64
 13  hour_LateNight                          401214 non-null  int64
 14  hour_Morning                            401214 non-null  int64
 15  hour_Noon                               401214 non-null  int64
 16  MEAN_ORIGIN_CONSUPTION                  401214 non-null  float64
 17  MEAN_DEST_CONSUPTION                    401214 non-null  float64
 18  category_Accessories                    401214 non-null  int64
 19  category_Alcohol                        401214 non-null  int64
 20  category_Cold Drink                     401214 non-null  int64
 21  category_Confectionery                  401214 non-null  int64
 22  category_Fresh Food                     401214 non-null  int64
 23  category_Gents Fragrance                401214 non-null  int64
 24  category_Hot Drink                      401214 non-null  int64
 25  category_Hot Food                       401214 non-null  int64
 26  category_Ladies Fragrance               401214 non-null  int64
 27  category_Logo                           401214 non-null  int64
 28  category_Savoury Snacks                 401214 non-null  int64
 29  category_Skincare & Make-up             401214 non-null  int64
 30  category_Sweet Snacks                   401214 non-null  int64
 31  category_Tobacco                        401214 non-null  int64
 32  category_Tobacco.                       401214 non-null  int64
 33  supercategory_BISTRO                    401214 non-null  int64
 34  supercategory_BOUTIQUE                  401214 non-null  int64
 35  supercategory_DUTY FREE                 401214 non-null  int64
 36  nombre de aerolinea_GateGroup Airlines  401214 non-null  int64
 37  currency_EUR                            401214 non-null  int64
dtypes: float64(8), int64(29), object(1)
memory usage: 116.3+ MB
None

In [4]:
# Save product code
df_ids = df[['ITEM CODE']].copy

In [5]:
# Separate target and independient variables
X = df.drop(columns=['FLIGHT KEY', 'FLIGHT NO'])
X.to_csv('models/data.csv',index=False)
X = X.drop(columns=['ITEM CODE', 'SALES'])
y = df['SALES']

In [6]:
# Model Training
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

# Training split
X_train, X_test, y_train, y_test = train_test_split(X,y, train_size=0.7, shuffle=True, random_state=42)

numerical_columns = ['PASSENGERS','DURATION_MIN','MEAN_ORIGIN_CONSUPTION','MEAN_DEST_CONSUPTION', 'month_sin', 'month_cos', 'dow_sin', 'dow_cos']

# Scale the data
scaler = StandardScaler()
X_train[numerical_columns] = scaler.fit_transform(X_train[numerical_columns])
X_test[numerical_columns] = scaler.fit_transform(X_test[numerical_columns])

X_train.head(10)

,PASSENGERS,month_sin,month_cos,dow_sin,dow_cos,DURATION_MIN,hour_Afternoon,hour_EarlyMorning,hour_Evening,hour_LateNight,...,category_Savoury Snacks,category_Skincare & Make-up,category_Sweet Snacks,category_Tobacco,category_Tobacco.,supercategory_BISTRO,supercategory_BOUTIQUE,supercategory_DUTY FREE,nombre de aerolinea_GateGroup Airlines,currency_EUR
170883,-1.054679,0.934014,-0.264699,-0.583000,-1.242938,-0.316044,0,0,0,0,...,0,0,0,0,0,1,0,0,1,1
154772,-0.335321,0.368652,-0.841812,-1.350738,-0.285794,-0.343533,0,0,0,0,...,0,0,0,0,0,1,0,0,1,1
130296,-0.452768,0.368652,1.889114,0.032677,1.438919,-0.144241,1,0,0,0,...,0,0,0,0,0,1,0,0,1,1
191633,0.560206,0.368652,-0.841812,0.032677,1.438919,-0.235870,1,0,0,0,...,0,0,0,0,0,1,0,0,1,1
129776,-0.731702,-0.403646,-1.053050,-1.350738,-0.285794,-0.174021,0,0,0,0,...,0,0,1,0,0,1,0,0,1,1
83244,-0.790425,-1.741306,-0.264699,1.416091,-0.285794,-0.350405,0,0,0,0,...,0,0,0,0,0,1,0,0,1,1
23973,0.251909,-1.175945,-0.841812,-1.350738,-0.285794,-0.329789,0,0,0,0,...,0,0,0,0,0,1,0,0,1,1
167761,-0.966595,-1.741306,-0.264699,0.648354,-1.242938,-0.249614,0,0,1,0,...,1,0,0,0,0,1,0,0,1,1
329074,-1.348295,0.934014,-0.264699,-1.076735,0.907745,2.845129,0,0,1,0,...,0,0,0,0,0,1,0,0,1,1
128142,0.295952,0.934014,-0.264699,-0.583000,-1.242938,-0.153404,0,0,0,0,...,1,0,0,0,0,1,0,0,1,1

In [ ]:
mlp = MLPRegressor(hidden_layer_sizes=(69,), validation_fraction=0.15, max_iter=1000)
mlp.fit(X_train, y_train)

In [ ]:
# Evaluate the model
from sklearn.metrics import mean_squared_error, mean_absolute_error

prediction = mlp.predict(X_test)
score = mlp.score(X_test, y_test)
mse = mean_squared_error(y_test, prediction)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y_test, prediction)

print(f"Score: {score}")
print(f"Mean Square Error: {mse}")
print(f"Mean Absolute Error: {mae}")
print(f"Root Mean Square Error: {rmse}")

In [ ]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
rf.fit(X_train, y_train)

In [ ]:
prediction = rf.predict(X_test)

# Evaluation
score2 = rf.score(X_test, y_test)
mse2 = mean_squared_error(y_test, prediction)
rmse2 = np.sqrt(mse2)
mae2 = mean_absolute_error(y_test, prediction)

# Results
print(f"R Score: {score2:.4f}")
print(f"Mean Square Error: {mse2:.4f}")
print(f"Root Mean Square Error: {rmse2:.4f}")
print(f"Mean Absolute Error: {mae2:.4f}")

In [ ]:
# Gradient Boosting
from lightgbm import LGBMRegressor
gb = LGBMRegressor(random_state=42)
gb.fit(X_train, y_train)

In [ ]:
prediction = gb.predict(X_test)

score3 = gb.score(X_test, y_test)
mse3 = mean_squared_error(y_test, prediction)
rmse3 = np.sqrt(mse3)
mae3 = mean_absolute_error(y_test, prediction)

print(f"Score: {score3}")
print(f"Mean Square Error: {mse3}")
print(f"Mean Absolute Error: {mae3}")
print(f"Root Mean Square Error: {rmse3}")

In [ ]:
# Improved Gradient Boosting Regressor
from sklearn.model_selection import RandomizedSearchCV

lgbm = LGBMRegressor(random_state=42, verbose=-1)

# DDefining a rangge of hyperparameters
param_grid = {
    'n_estimators': [500, 800, 1000],
    'learning_rate': [0.01, 0.05, 0.1],
    'max_depth': [8, 12, 15],
    'min_child_samples': [10, 20, 30],
    'subsample': [0.7, 0.8, 1.0],
    'colsample_bytree': [0.7, 0.8, 1.0],
    'reg_alpha': [0, 0.1, 0.5],
    'reg_lambda': [0, 0.1, 0.5]
}

search = RandomizedSearchCV(
    estimator=lgbm,
    param_distributions=param_grid,
    n_iter=20,           
    scoring='r2',
    cv=3,               
    random_state=42,
)

search.fit(X_train, y_train)

# Best model
best_model = search.best_estimator_
print("Best params:", search.best_params_)

In [ ]:
predictions = best_model.predict(X_test)
score4 = best_model.score(X_test, y_test)
mse4 = mean_squared_error(y_test, prediction)
rmse4 = np.sqrt(mse3)
mae4 = mean_absolute_error(y_test, prediction)

print(f"Score: {score4}")
print(f"Mean Square Error: {mse4}")
print(f"Mean Absolute Error: {mae4}")
print(f"Root Mean Square Error: {rmse4}")

In [ ]:
# Save the model and the scaler
joblib.dump(best_model, 'models/model.pkl')
joblib.dump(scaler, 'models/scaler.pkl')